# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Qt
moc_*.cpp
*.moc
*.creator.user
*.pro.user
qrc_*

compiler_output.txt
bin

Makefile

build-*

*.kate-swp
