# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a

# Qt
moc_*.cpp
*.moc
*.creator.user*
*.pro.user*
qrc_*
ui_*.h
object_script.*
build-*

Makefile

*.kate-swp
